/* Feedbackwidget */
#feedback {
	max-width: 600px;
	margin: 30px auto auto auto;
}

.feedback__container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0 0;
	grid-template-areas:
		'feedback__icon feedback__text-container feedback__exit'
		'feedback__bottom feedback__bottom feedback__bottom';
}

.feedback__bottom {
	grid-area: feedback__bottom;
}

#btn-no {
	float: right;
	margin-top: 20px;
}

#btn-yes {
	float: right;
	margin-top: 20px;
}

.feedback__bottom button:last-child {
	margin-right: 15px;
}

.feedback__icon {
	grid-area: feedback__icon;
}

.feedback__icon i {
	float: right;
	margin-right: 20px;
}

.feedback__text-container {
	grid-area: feedback__text-container;
}

#feedback__text {
	font-size: 16px;
}

.feedback__exit {
	grid-area: feedback__exit;
}

#btn-exit {
	float: right;
}

/* Animations */
.fade-in {
	animation: fadeIn ease 5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	animation: fadeOut ease-out 3s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		margin-left: 0%;
		width: 100%;
	}
	100% {
		opacity: 0;
		margin-left: 100%;
		width: 300%;
	}
}

.shake {
	animation: 0.15s 5 linear forwards shake;
}

@keyframes shake {
	50% {
		margin-right: 1px;
	}
}

/* Media Queries */
@media only screen and (max-width: 400px) {
	.alert {
		padding: 5px;
	}

	@keyframes shake {
		50% {
			margin-left: 1px;
		}
	}

	#feedback__text {
		font-size: 8px;
	}

	.feedback__icon {
		display: none;
	}

	.feedback__container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		grid-template-areas: 'feedback__exit' 
		'feedback__text-container'
		'feedback__bottom';

		max-width: 200px;
		min-width: 100px;
	}

	.feedback__bottom {
		display: flex;
		flex-direction: column;
	}

	#btn-yes, #btn-no, #btn-exit  {
		font-size: 8px;
		padding: 5px;
	}

	#btn-yes {
		margin: 0;
		margin-top: 5px;
		float: none;
		width: 50px;
		
	}

	#btn-no {
		margin: 0;
		float: none;
		width: 50px;
	}

	#btn-exit {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
